/* Variables */
$background: #25272d;

html,
body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
	background: $background;
/*	background: -webkit-linear-gradient(#ffffff 55%, #e5daf0);
	background: -moz-linear-gradient(#ffffff 55%, #e5daf0);
	background: -o-linear-gradient(#ffffff 55%, #e5daf0);
	background: linear-gradient(#ffffff 55%, #e5daf0);*/
}

.container {
	display: table;
	width:100%;
}

.intro {
	position: fixed;
	width: 275px;
	height: 100%;
	top:10%;
	left: 7%;
	/*background-color: #cccccc;*/

	h1 {
		color: #000000;
		font-family: 'Montserrat', 'Helvetica', sans-serif;
		font-size: 24px;
		letter-spacing: 2px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	.subtitle {
		padding: 10px 20px 10px 20px;
		color: #666666;
		font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
		font-size: 12px;
	}

}

.links {
	margin: 0;
	padding-left: 0px !important;
	list-style-type: none; 
	text-align: center;

	ul {
		padding-left: 0px;
	}

	.inline-list li {
  	display: inline;
  	list-style-type: none;
  	padding: 0px 5px 0px 5px; 
	}
}

.content-wrapper {
	/*background-color: #555555;*/
	margin-left: 40%;
	width: 60%;
}

.content {
	// background-color: #ffffff;
	position: relative;
	left: 5%;
	width: 80%;

}

@media screen and (max-width: 800px) {
	.intro {
		width: 100%;
		position: relative;
	}

	.content-wrapper {
		margin-left: 0;
		width: 100%;
	}
}

